/* 
Generic Styling, for Desktops/Laptops 
*/
/*Bootstrap theme*/
@import url('bootstrap-theme.min.css');
/*Bootstrap core CSS*/
@import url('bootstrap.min.css');
/*Custom styles for this template*/
@import url('theme.css');
/*Nav bar css*/
@import url('navbar.css');

body{
    background-image: url("../img/bg.png");
}

.content{
    width: 70%;
    margin: 0 auto;
}

.navBar{
    width: 80%;
    margin: 0 auto;
}

h1{
    padding-top: 30px;
    text-align: center;
}

.form .submit{
    float:right;
}
