<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block Title %}{% endblock %}</title>
    
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/docs.min.js" %}"></script>
    {% block more_css %}{% endblock %}
  </head>

  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-th-list" style="color: white;"></span>
          </button>
          <a class="navbar-brand" href="{% url "index" %}"><span class="glyphicon glyphicon-home" style="color: white;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url "period-list" %}">Periods</a></li>
                <li><a href="{% url "shift-list" %}">Shifts</a></li>
                <li><a href="{% url "location-list" %}">Locations</a></li>
                <li><a href="{% url "pay-list" %}">Pay Rates</a></li>
                <li><a href="{% url "expense-list" %}">Expenses</a></li>
                <li><a href="{% url "debtor-list" %}">Debtors</a></li>
            </ul>
            {% if not user.is_authenticated %}
            <p class="navbar-form navbar-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Login <span class="glyphicon glyphicon-log-in"></span> </button>
            </p>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-right" data-toggle="dropdown"> Welcome, {{ user.username|capfirst }} <span style="color:white" class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                        <li><a href="/admin/transactions/">Admin Page</a></li>
                        {% endif %}
                        <li><a href="{% url "personnel-update" user.id %}">Update Profile</a></li>
                        <li>
                            <a href="{% url "account-logout" %}">Logout <span style="color:red" class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                    </ul>      
                </li>
            </ul>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container">
        {% block extrahead %}{% endblock %}
        {% block content %}{% endblock %}
        {% include "pagination.html" %}
        {% include "modalLogin.html" %}
    </div>
    
    {% if not user.is_authenticated %}
    <script>
        function loginError() {
            $('#myModal').modal('show');
        }
    </script>
    {% endif %}
    {% block more_scripts %}{% endblock %}
  </body>
</html>
