{% if not user.is_authenticated %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Please sign in</h4>
            </div>
            <div class="modal-body" align="center">
                <form class="form-horizontal" role="form" method="post" action="{% url 'account-login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <li class="input-group input-group-sm"> {{ form.username }} </li>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <li class="input-group input-group-sm"> {{ form.password }} </li>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% if form.errors %}
                            <p><font size="2" color="red"> Your username and password didn't match. Please try again. </font></p>
                             <body onload="loginError()"> </body>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
