{% extends "base.html" %}

{% block Title %} Add new payment {% endblock %}

{% block extrahead %}
    <h1>Add Payment</h1>
{% endblock %}

{%block content %}

<div class= "content">
    
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save payment" name="save">
    </form>
    <div style="text-align: left">
        <form action="{% url "debt-detail" pk  %}">
            <input type="submit" class="btn btn-info" value="Back to debt">
        </form>
    </div> 
</div>

{% endblock %}