{% extends "base.html" %}

{% block Title %} Add new expense {% endblock %}

{% block extrahead %}
    <h1>Add Expense</h1>
{% endblock %}

{%block content %}

<div class= "content">
    
    <form action="{% url "expense-new" %}" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save expense" name="save">
    </form>
    
    <div style="text-align: left">
        <form action="{% url "expense-list" %}">
            <input type="submit" class="btn btn-info" value="Back to list">
        </form>
    </div> 
</div>

{% endblock %}
{% block more_css %}
<script src="/static/jquery/jquery-1.8.3.min.js"></script>    
<script src="/static/js/bootstrap-datetimepicker.js"></script>  
<link href="/static/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}