{% extends "base.html" %}

{% block Title %} Add new shift {% endblock %}

{% block extrahead %}
    <h1>Add Shift</h1>
{% endblock %}

{%block content %}

<div class= "content">
    
    <form action="{% url "shift-new" %}" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save shift">
    </form>
    <div style="text-align: left">
        <p><a class="btn btn-info" href="{% url "shift-list" %}" role="button">Back to list</a></p>
    </div> 
</div>

{% endblock %}
{% block more_css %}
<script src="/static/jquery/jquery-1.8.3.min.js"></script>    
<script src="/static/js/bootstrap-datetimepicker.js"></script>  
<link href="/static/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}