{% extends "base.html" %}

{% block Title %} Add new personnel {% endblock %}

{% block extrahead %}
    <h1>Add Personnel</h1>
{% endblock %}

{%block content %}

<div class= "content">
    
    <form action="{% url "personnel-new" %}" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Add personnel" name="save">
    </form>
    
    <div style="text-align: left">
        <form action="{% url "personnel-list" %}">
            <input type="submit" class="btn btn-info" value="Back to list">
        </form>
    </div> 
</div>

{% endblock %}