{% extends "base.html" %}

{% block Title %} List of debtors {% endblock %}

{% block extrahead %}
    <h1>Debtors</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <div class="well well-sm">
	<span class="glyphicon glyphicon-remove-sign label label-danger" style="font-size: small;" aria-hidden="true"> Borrowed: &#163;{{debt_owed.loan_amount__sum}}</span>
	<span class="glyphicon glyphicon-ok-sign label label-info" style="font-size: small;" aria-hidden="true"> IN: &#163;{{debt_paid.amount__sum}}</span>
	<span class="glyphicon glyphicon-exclamation-sign label label-warning" style="font-size: small;" aria-hidden="true"> OUT: &#163;{{debt_outstanding.balance__sum}}</span>
	<a href="{% url "debtor-new" %}" role="button" style="text-decoration: none;"><span class="glyphicon glyphicon-plus label label-success" style="font-size: small;" aria-hidden="true"> Add Debtor</a></span>
    </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Debtor</th>
                    <th colspan="2" style="text-align: center">C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
           {% for debtor in object_list %}
                <tr>
                    <td>{{ debtor.debtor_name|capfirst }}</td>
                    <td><a href= "{% url "debtor-debt" debtor.pk %}">View <span class="glyphicon glyphicon-eye-open"></a></td>  
                    <td><a href= "{% url "debtor-update" debtor.pk %}"">Update <span class="glyphicon glyphicon-info-sign"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
       </table>
</div>

{% endblock %}

