{% extends "base.html" %}

{% block Title %} Debt Details {% endblock %}

{% block extrahead %}
    <h1>Debt Details</h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    <a href= "{% url "debtor-debt" debt.debtor_name.id %}"  data-toggle="tooltip" title="List of debts""><span class="glyphicon glyphicon-arrow-left"></span></a>
                    {{ debt.description|capfirst }} - {{ debt.date_loaned }}
                    <a href= "{% url "debt-update" debt.pk %}""><span class="glyphicon glyphicon-info-sign"></span></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Description : {{ debt.description|capfirst }}</p>
                    <p>Amount : &#163;{{ debt.loan_amount }}</p>
                    <p>Date loaned : {{ debt.date_loaned }}</p>
                    <p>Balance : &#163;{{ debt.balance }}</p>
                    <p>Date cleared : {{ debt.date_cleared }}</p>
                </div>
        </div>
        <div class="panel-group" id="accordion">
            {% if debt.fully_paid %}
            <div class="panel panel-success">
            {% else %}
            <div class="panel panel-danger">
            {% endif %}
                  <div class="panel-heading">
                        <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <h2>Payments
                                    <a href= "{% url "payment-new" debt.pk %}"  data-toggle="tooltip" title="New Payment""><span class="glyphicon glyphicon-plus-sign"></span></a>
                                    </h2>
                              </a>
                        </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for payment in payment_list %}
                                      <tr>
                                          <td>{{ payment.date }}</td>
                                          <td>&#163;{{ payment.amount }}</td>
                                          <td><a href= "{% url "payment-update" payment.pk %}" data-toggle="tooltip" title="Update payment"><span class="glyphicon glyphicon-info-sign"> Update</a></td>  
                                      </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="3" style="text-align: center;">No payments yet</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}

