{% extends "base.html" %}

{% block Title %} Debtor Details {% endblock %}

{% block extrahead %}
    <h1>{{ debtor.debtor_name|capfirst }}'s Debts</h1>
{% endblock %}

{% block content %}
    
{% regroup debt_list|dictsort:"fully_paid" by fully_paid as debts%}

<div class="content">
    <!--<p><a class="btn btn-success navbar-right" href="{% url "debt-new" debtor.pk %}" role="button">Add debt</a></p>-->
    <div class="well well-sm">
	<span class="glyphicon glyphicon-remove-sign label label-danger" style="font-size: small;" aria-hidden="true"> Borrowed: &#163;{{debt_owed.loan_amount__sum}}</span>
	<span class="glyphicon glyphicon-ok-sign label label-success" style="font-size: small;" aria-hidden="true"> IN: &#163;{{debt_paid.amount__sum}}</span>
	<span class="glyphicon glyphicon-exclamation-sign label label-warning" style="font-size: small;" aria-hidden="true"> OUT: &#163;{{debt_outstanding.balance__sum}}</span>
	<a href="{% url "debt-new" debtor.pk %}" role="button" style="text-decoration: none;"><span class="glyphicon glyphicon-plus label label-success" style="font-size: small;" aria-hidden="true"> Add Debt</a></span>
    </div>
    <div>
        {% for debt in debts %}
                {% if debt.grouper  %}
                    <h3 class="label label-success"><span class="glyphicon glyphicon-ok-circle"></span> Paid debts</h3>
                {% else %}
                    <h3 class="label label-danger"><span class="glyphicon glyphicon-remove-circle"></span> Un-Paid debts</h3>
                {% endif %}
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Debts</th>
                            <th>Loan Amount</th>
                            <th>Balance</th>
                            <th>Date Loaned</th>
                            <th colspan="2" style="text-align: center">C.R.U.D</th>
                        </tr>
                    </thead>
                    <tbody>
                   {% for debt in debt.list %}
                        <tr>
                            <td> {{ debt.description|capfirst }} </td>
                            <td> &#163;{{ debt.loan_amount }} </td>
                            <td> &#163;{{ debt.balance }} </td>
                            <td> {{ debt.date_loaned|date:"l, jS M Y" }} </td>
                            <td><a href= "{% url "debt-detail" debt.pk %}">View <span class="glyphicon glyphicon-eye-open"></a></td> 
                            <td><a href= "{% url "debt-update" debt.pk %}"">Update <span class="glyphicon glyphicon-info-sign"></span></a></td> 
                        </tr>
                    {% endfor %}
                    </tbody>
               </table> 
            {% endfor %}
    </div>
</div>
{% endblock %}

