{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Send period Details{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6">
            <h1>Send period details</h1>
            {% crispy form form.helper %}
        </div>
    </div>
{% endblock %}

{% block more_scripts %}
<script>
        $(function() {
            $('#id_number').focus()            
        });
</script>
{% endblock %}
