{% extends "base.html" %}

{% block Title %} List of expenses {% endblock %}

{% block extrahead %}
    <h1>Expenses</h1>
{% endblock %}

{%block content %}

{% regroup object_list by date_bought|date:"F, Y" as month%}
    <div class="content">
        <p><a class="btn btn-success navbar-right" href="{% url "expense-new" %}" role="button">Add expense</a></p>
        {% for object_list in month %}
        <h3 class="label label-info"> <span class="glyphicon glyphicon-th-list"></span> Month: {{ object_list.grouper }} </h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date bought</th>
                    <th>Item Description</th>
                    <th>Item Price</th>
                    <th>Item Quant</th>
                    <th>Cost</th>
                    <th>C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
            {% for expense in object_list.list %}
                <tr>
                    <td>{{ expense.date_bought|date:"l jS, P" }}</td>
                    <td>{{ expense.item_description }}</td>
                    <td>&#163;{{ expense.item_price }}</td>
                    <td>{{ expense.item_quantity }}</td>
                    <td>&#163;{{ expense.total_cost }}</td>
                    <td><a href= "/transactions/expense/update/{{ expense.pk }}/">Update</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No Expenses yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>

{% endblock %}