{% extends "base.html" %}

{% block Title %} Home - Summary {% endblock %}

{% block extrahead %}
    <h1>Summary</h1>
{% endblock %}

{%block content %}

<div class="container">
      <div class="row">
        <div class="col-sm-3">
            <h2>Periods</h2>
          {% regroup period_list by period_week_ending_date|date:"F, Y" as period_month%}
            <h3 class="label label-info"> <span class="glyphicon glyphicon-th-list"></span> Month: {{ period_month.0.grouper }} </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Shits</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tbody>
                  {% for period in period_list %}
                        <tr>
                            <td> {{ period.period }} </td>
                            <td> {{ period.shifts_this_period }} </td>
                            <td> {{ period.period_hours }} </td>
                        </tr>
                  {% endfor %}
                </tbody>
            </table>
          <p style="text-align: center"> Total periods: <span class="badge">{{period_month.0.list|length}}</span></p>
          <p><a class="btn btn-info" href="{% url "period-list" %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-5">
          <h2>Shifts</h2>
          {% regroup shift_list by shift_from_date_and_time|date:"F, Y" as shift_month%}
            <h3 class="label label-success"> <span class="glyphicon glyphicon-th-list"></span> Month: {{ shift_month.0.grouper }} </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Hours</th>
                    </tr>
                </thead>
                <tbody>
                  {% for shift in shift_month.0.list %}
                    <tr>
                        <td>{{ shift.shift_location }}</td>
                        <td>{{ shift.shift_from_date_and_time|date:"l jS, P" }}</td>
                        <td>{{ shift.shift_to_date_and_time|date:"l jS, P" }}</td>
                        <td>{{ shift.hours_worked_string }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          <p style="text-align: center"> Total shifts: <span class="badge">{{shift_month.0.list|length}}</span></p>
          <p><a class="btn btn-success" href="{% url "shift-list" %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Expenses</h2>
           {% regroup expense_list by date_bought|date:"F, Y" as month%}
            <h3 class="label label-warning"> <span class="glyphicon glyphicon-th-list"></span> Month: {{ month.0.grouper }} </h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Item</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                  {% for expense in month.0.list %}
                    <tr>
                        <td>{{ expense.date_bought|date:"l jS, P" }}</td>
                        <td>{{ expense.item_description }}</td>
                        <td>{{ expense.item_quantity}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
          <p style="text-align: center"> Total items: <span class="badge">{{month.0.list|length}}</span> </p>
          <p><a class="btn btn-warning" href="{% url "expense-list" %}" role="button">View details &raquo;</a></p>
        </div>
      </div>
      {% if shift_month.0.grouper %}
      <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                  <div class="panel-heading">
                        <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <h2>Total earnings until {{ shift_month.0.grouper }}</h2>
                              </a>
                        </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                              <p>
                                    <h4><span class="label label-default">Gross: &#163;{{ total_earnings.period_pay__sum }}</span></h4>
                                    <h4><span class="label label-warning">Expense: &#163;{{ total_expense.item_price__sum }}</span></h4>
                                    <h4><span class="label label-success">Net: &#163;{{ net_pay }}</span></h4>
                              </p>
                        </div>
                  </div>
            </div>
      </div>
      {% endif %}

{% endblock %}
