{% extends "base.html" %}

{% block Title %} List of Locations {% endblock %}

{% block extrahead %}
    <h1>Locations</h1>
{% endblock %}

{%block content %}

<div class= "content">
        <p><a class="btn btn-success navbar-right" href="{% url "location-new" %}" role="button">Add location</a></p>
        <span class="glyphicon glyphicon-map-marker"></span>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th style="text-align: center">C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
           {% for location in object_list %}
                <tr>
                    <td>{{ location.location_name }}</td>
                    <td>{{ location.location_address }}</td>
                    <td><a href= "/transactions/location/update/{{ location.pk }}/">Update</a></td>
                </tr>
            {% endfor %}
            </tbody>
       </table>
</div>

{% endblock %}