{% extends "base.html" %}

{% block Title %} List of Personnels {% endblock %}

{% block extrahead %}
    <h1>Personnels</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <p><a class="btn btn-success navbar-right" href="{% url "personnel-new" %}" role="button">Add personnel</a></p>
    <span class="glyphicon glyphicon-user"></span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th style="text-align: center">C.R.U.D</th>
            </tr>
        </thead>
        <tbody>
       {% for operator in object_list %}
            <tr>
                <td>{{ operator|capfirst }}</td>
                <td>{{ operator.operator_address }}</td>
                <td><a href= "/transactions/personnel/update/{{ operator.pk }}/">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
</div>

{% endblock %}
