{% extends "base.html" %}

{% block Title %} List of Pay rates {% endblock %}

{% block extrahead %}
    <h1>Pay rates</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <p><a class="btn btn-success navbar-right" href="{% url "pay-new" %}" role="button">Add pay</a></p>
    <span class="glyphicon glyphicon-gbp"></span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pay</th>
                <th>Pay rate</th>
                <th style="text-align: center">C.R.U.D</th>
            </tr>
        </thead>
        <tbody>
       {% for pay in object_list %}
            <tr>
                <td>{{ pay.pay }}</td>
                <td>&#163;{{ pay.pay_rate }}</td>
                <td><a href= "/transactions/pay/update/{{ pay.pk }}/">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
</div>

{% endblock %}