{% extends "base.html" %}

{% block Title %} Period Details {% endblock %}

{% block extrahead %}
    <h1>Period Details</h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ period.period }}</h3>
                </div>
                <div class="panel-body">
                    <p>Hours this period: {{ period.period_hours }} </p>
                    <p>Pay this period: &#163;{{ period.period_pay }}</p>
                    <p>Shifts this period: {{ period.shifts_this_period }} <a href= "{% url "period-shifts" period.pk %}"><span class="glyphicon glyphicon-eye-open"></span></a><a class="btn btn-success navbar-right" href="{% url "location-update" period.pk %}" role="button">Send</a></p>
                </div>
                <div>
                    
                </div>
        </div>
    </div>
{% endblock %}

