{% extends "base.html" %}

{% block Title %} List of periods {% endblock %}

{% block extrahead %}
    <h1>Periods</h1>
{% endblock %}

{%block content %}

{% regroup object_list|dictsort:"paid" by paid as period%}

<div class= "content">
    <p><a class="btn btn-success navbar-right" href="{% url "period-new" %}" role="button">Add period</a></p>
    {% for object_list in period %}
        {% if object_list.grouper  %}
            <h3 class="label label-success"><span class="glyphicon glyphicon-ok-circle"></span> Paid periods</h3>
        {% else %}
            <h3 class="label label-danger"><span class="glyphicon glyphicon-remove-circle"></span> Un-Paid periods</h3>
        {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Number of shifts</th>
                    <th colspan="3" style="text-align: center">C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
           {% for period in object_list.list %}
                <tr>
                    <td>{{ period.period }}</td>
                    <td>{{ period.shifts_this_period }}</td>
                    <td><a href= "{% url "period-shifts" period.pk %}"">View <span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td><a href= "{% url "period-update" period.pk %}"">Update <span class="glyphicon glyphicon-info-sign"></span></a></td>
                    <td><a href= "{% url "contact-form" period.pk %}"">Send <span class="glyphicon glyphicon-send"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
       </table>
    {% endfor %}
</div>

{% endblock %}