{% extends "base.html" %}

{% block Title %} Shift Details {% endblock %}

{% block extrahead %}
    <h1>Shift Details</h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ shift.shift_from_date_and_time|date:"l jS M, P" }} - {{ shift.shift_to_date_and_time|date:"l jS M, P" }}
                        <a href= "{% url "shift-new" %}"  data-toggle="tooltip" title="New Shift""><span class="glyphicon glyphicon-plus-sign"></span></a>
                        <a href= "{% url "shift-update" shift.pk %}" data-toggle="tooltip" title="Update Shift""><span class="glyphicon glyphicon-info-sign"></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Period: {{ shift.shift_period }} </p>
                    <p>Operator: {{ shift.created_by|capfirst }} </p>
                    <p>Location: {{ shift.shift_location }} </p>
                    <p>Hours Worked: {{ shift.hours_worked_string }} </p>
                    <p>Pay Rate: &#163;{{ shift.shift_pay_rate }} </p>
                    <p>Shift Pay: &#163;{{ shift.shift_pay }} </p>
                    <p>Comment: {{ shift.shift_comments }} </p>
                </div>
                <div>
                    
                </div>
        </div>
    </div>
{% endblock %}

