{% extends "base.html" %}

{% block Title %} List of shifts {% endblock %}

{% block extrahead %}
    <h1>Shifts</h1> 
{% endblock %}

{% block content %}
    {% regroup object_list by shift_from_date_and_time|date:"F, Y" as month%}
    <div class="content">
        <p><a class="btn btn-success navbar-right" href="{% url "shift-new" %}" role="button">Add shift</a></p>
        {% for object_list in month %}
        <h3 class="label label-info"> <span class="glyphicon glyphicon-th-list"></span> Month: {{ object_list.grouper }} </h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Shift location</th>
                    <th>Shift start</th>
                    <th>Shift end</th>
                    <th>Hours worked</th>
                    <th colspan="2" style="text-align:center;">C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
            {% for shift in object_list.list %}
                <tr>
                    <td>{{ shift.shift_location }}</td>
                    <td>{{ shift.shift_from_date_and_time|date:"l jS, P" }}</td>
                    <td>{{ shift.shift_to_date_and_time|date:"l jS, P" }}</td>
                    <td>{{ shift.hours_worked_string }}</td>
                    <td><a href= "{% url "shift-detail" shift.pk %}">View <span class="glyphicon glyphicon-eye-open"></a></td>     
                    <td><a href= "{% url "shift-update" shift.pk %}">Update <span class="glyphicon glyphicon-info-sign"></a></td>               
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No shifts yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p style="text-align: right;"> Shifts this month: {{ object_list.list|length }}</p>
        {% endfor %}
    </div>
{% endblock %}
