{% extends "base.html" %}

{% block Title %} Shifts this period {% endblock %}

{% block extrahead %}
    {% with object_list|first as period %}
        <h1>Shifts for period {{ period.shift_period }} </h1>
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Operator Name</th>
                    <th>Location</th>
                    <th>From </th>
                    <th>To </th>
                    <th>Hours</th>
                    <th>Pay rate</th>
                    <th>Pay</th>
                    <th colspan="2" style="text-align:center;">C.R.U.D</th>
                </tr>
            </thead>
            <tbody>
                {% for shift in object_list %}
                <tr>
                    <td>{{ shift.created_by|capfirst }}</td>
                    <td>{{ shift.shift_location }}</td>
                    <td>{{ shift.shift_from_date_and_time|date:"l jS, Y - P" }}</td>
                    <td>{{ shift.shift_to_date_and_time|date:"l jS, Y - P" }}</td>
                    <td>{{ shift.hours_worked_string }}</td>
                    <td>&#163;{{ shift.shift_pay_rate }}</td>
                    <td>&#163;{{ shift.shift_pay }}</td>
                    <td><a href= "{% url "shift-detail" shift.pk %}" data-toggle="tooltip" title="View shift"><span class="glyphicon glyphicon-eye-open"></a></td>  
                    <td><a href= "{% url "shift-update" shift.pk %}" data-toggle="tooltip" title="Update shift"><span class="glyphicon glyphicon-info-sign"></a></td>  
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No shift yet</td>
                    <td colspan="2" style="text-align: right;"><a class="btn btn-success" href="{% url "shift-new" %}" role="button">Add shift</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="panel panel-success">
        {% with object_list|first as period %}

	{% if period %}
            <div class="panel-heading">
                <h3 class="panel-title">
                    Period Details
                        <a href= "{% url "shift-new" %}"  data-toggle="tooltip" title="New Shift""><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a href= "{% url "period-update" period.shift_period.pk %}" data-toggle="tooltip" title="Update Period""><span class="glyphicon glyphicon-info-sign"></span></a>
                    <a href= "{% url "contact-form" period.shift_period.pk %}"  data-toggle="tooltip" title="Send Period""><span class="glyphicon glyphicon-send"></span></a>
                </h3>
            </div>
            <div class="panel-body">
                Total Hours: {{ period.shift_period.period_hours }} </br>
                Personal protection: &#163;{{ period.shift_period.personal_protection }} </br>
                Total Pay: &#163;{{ period.shift_period.period_pay }} </br>
                Date Received: {{ period.shift_period.date_received }} 
            </div>
	{% endif %}
				
        {% endwith %}
        </div>
    </div>
{% endblock %}
