{% extends "base.html" %}

{% block Title %} Update profile {% endblock %}

{% block extrahead %}
    <h1>{{ user.username|capfirst }}'s Profile</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save" name="save">
    </form>
</div>

{% endblock %}