{% extends "base.html" %}

{% block Title %} Update payment {% endblock %}

{% block extrahead %}
    <h1>Update Payment</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save payment" name="save">
    </form>
    <p><a class="btn btn-info navbar-left" href="{% url "debt-detail" payment.debt.pk %}" role="button">Back to debt detail</a></p>
</div>

{% endblock %}