{% extends "base.html" %}

{% block Title %} Update period {% endblock %}

{% block extrahead %}
    <h1>Update Period</h1>
{% endblock %}

{%block content %}

<div class= "content">
    
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save period" name="save">
    </form>
    <p><a class="btn btn-info navbar-left" href="{% url "period-list" %}" role="button">Back to list</a></p>
</div>

{% endblock %}