{% extends "base.html" %}

{% block Title %} Update debt {% endblock %}

{% block extrahead %}
    <h1>Update Debt</h1>
{% endblock %}

{%block content %}

<div class= "content">
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        {{ form.as_p }}
      </p>
      <input style="float: right;" type="submit" class="btn btn-success" value="Save debt" name="save">
    </form>
    <p><a class="btn btn-info navbar-left" href="{% url "debtor-debt" debt.debtor_name.pk %}" role="button">Back to list</a></p>
</div>

{% endblock %}